<a href="https://colab.research.google.com/github/Jose897/ARSAT/blob/feature1/Parte_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte_2
## Analisis exploratorio
### Conclusiones

In [3]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [4]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [5]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [6]:
#Datos en https://www.drivendata.org/competitions/57/nepal-earthquake/data/
id= '1rIkecZnYLL1JgDDltz_QaiUU-srwExAq'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('train_values.csv')

In [7]:
#Datos en https://www.drivendata.org/competitions/57/nepal-earthquake/data/
id='1y0_UGco6sKk7VmgyX7_juWe6gyulHnjM'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('train_labels.csv')

In [8]:
valores=pd.read_csv('train_values.csv')
valores

        building_id  ...  has_secondary_use_other
0            802906  ...                        0
1             28830  ...                        0
2             94947  ...                        0
3            590882  ...                        0
4            201944  ...                        0
...             ...  ...                      ...
260596       688636  ...                        0
260597       669485  ...                        0
260598       602512  ...                        0
260599       151409  ...                        0
260600       747594  ...                        0

[260601 rows x 39 columns]